---
import Mail from '../assets/icons/mail.svg'
import Phone from '../assets/icons/phone.svg'
import MapPin from '../assets/icons/map-pin.svg'
import FixMyCard from '../assets/illustrations/fix-my-card.png'
import { Image } from 'astro:assets'
import Fix from '../assets/illustrations/fix.png'
import My from '../assets/illustrations/my.png'
import Card from '../assets/illustrations/card.png'
import Instagram from '../assets/illustrations/instagram.png'
import Tiktok from '../assets/illustrations/tiktok.png'
---

<footer class="bg-gray-900 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div>
        <div class="flex items-center space-x-2 mb-4">
          <a class="flex items-center">
            <Image
              id="fixMyCard"
              src={FixMyCard}
              alt="FixMycard"
              fetchpriority="low"
              quality={90}
              width={48}
              height={48}
              format="webp"
              class="mr-3"
            />
            <Image
              id="fix"
              src={Fix}
              style="height:27px; width:47px;"
              alt="Fix"
              fetchpriority="low"
              quality={80}
              width={100}
              fit="contain"
              position="center"
              format="webp"
              class="mr-1"
            />
            <Image
              id="my"
              src={My}
              alt="My"
              style="height:31px; width:44px;"
              fetchpriority="low"
              quality={80}
              width={100}
              format="webp"
              position="center"
              fit="contain"
            />
            <Image
              id="card"
              fit="contain"
              src={Card}
              alt="card"
              style="height:34px; width:64px;"
              fetchpriority="low"
              quality={80}
              width={100}
              position="center"
              format="webp"
            />
          </a>
        </div>
        <p class="text-gray-400">
          Expert en restauration de cartes Pokémon. Redonnez vie à vos cartes
          les plus précieuses.
        </p>
      </div>

      <div>
        <h3 class="text-lg mb-4">Contact</h3>
        <div class="space-y-2 text-gray-400">
          <div class="flex items-center space-x-2">
            <Mail height="18" width="18" />
            <span>fixmycard34@gmail.com</span>
          </div>
          <div class="flex items-center space-x-2">
            <Phone height="18" width="18" />
            <span>+33 6 99 75 74 26</span>
          </div>
          <div class="flex items-center space-x-2">
            <MapPin height="18" width="18" />
            <span>St Jean de Vedas, France</span>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-lg mb-4">Horaires</h3>
        <div class="space-y-1 text-gray-400">
          <p>7/7: 9h - 22h</p>
        </div>
      </div>
      <div>
        <h3 class="text-lg mb-4">Réseaux sociaux</h3>
        <div class="text-gray-400 flex flex-row items-center">
          <a
            href="https://www.instagram.com/fixmycard/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              id="instagram"
              src={Instagram}
              alt="instagram"
              fetchpriority="low"
              quality={80}
              width={48}
              height={48}
              format="webp"
              class="mr-3"
            />
          </a>
          <a
            href="https://www.tiktok.com/@fixmycard"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              id="tiktok"
              src={Tiktok}
              alt="tiktok"
              fetchpriority="low"
              quality={80}
              width={48}
              height={48}
              format="webp"
              class="mr-3"
            />
          </a>
        </div>
      </div>

      <div class="border-t border-gray-800 mt-8 pt-8 text-center text-gray-400">
        <p>&copy; 2025 Fix My Card. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
