---
import Minidraco from '../../assets/illustrations/minidraco_blue.png'
import Draco from '../../assets/illustrations/draco_blue.png'
import Dracolosse from '../../assets/illustrations/dracoloss_blue.png'
import CircleCheck from '../../assets/icons/circle-check.svg'
import { Image } from 'astro:assets'

const services = [
  {
    icon: Minidraco,
    title: 'Formule Mini Draco',
    description: 'Nettoyage professionnel et correction des micro rayures.',
    price: 'A partir de 10€ + 6.99€ en livraison*',
    features: [
      'Nettoyage en profondeur',
      'Correction des micro rayures',
      'Résultats durables',
      'Produits spécialisés et techniques adaptées aux cartes pokémons',
    ],
  },
  {
    icon: Draco,
    title: 'Formule Draco',
    description: 'Correction d’un endommagement précis et nettoyage',
    price: 'A partir de 20€ + 6.99€ en livraison*',
    features: [
      'Contenu de la formule Mini Draco',
      'Amélioration d’un endommagement spécifique',
      'Produits spécialisés et techniques adaptées aux cartes pokémons',
      'Résultats durables',
    ],
  },
  {
    icon: Dracolosse,
    title: 'Formule Dracolosse',
    description: 'Pour une carte qui a de nombreux endommagements',
    price: 'A partir de 35€ + 6.99€ en livraison*',
    features: [
      'Le contenu de la Formule Mini Draco',
      'Le contenu de la Formule Draco',
      'Restauration totale de la carte',
      'Amélioration des zones endommagées',
    ],
  },
]

const processes = [
  {
    index: 1,
    title: 'Demande',
    subtitle: 'Envoie de la demande du devis personnalisé',
  },
  {
    index: 2,
    title: 'Diagnostic',
    subtitle:
      'Réponse de Fix My Card avec un devis adapté à la demande du client',
  },
  {
    index: 3,
    title: 'Validation',
    subtitle: 'Signature, validation et paiement du devis par le client',
  },
  {
    index: 4,
    title: 'Envoie',
    subtitle: 'Envoie de la commande à Fix My Card via Mondial relay',
  },
  {
    index: 5,
    title: 'Prestation et retour',
    subtitle: 'Prestation réalisée et envoie de la commande au client.',
  },
]
---

<div class="py-12">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col
    md:items-stretch items-center"
  >
    <div class="text-center mb-12">
      <h1 class="text-5xl mb-4 text-gray-900">Mes prestations</h1>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">
        Des services professionnels adaptés à tous vos besoins de restauration
        de cartes Pokémon
      </p>
    </div>

    <div
      class="grid gap-8 mb-12 [grid-template-columns:repeat(auto-fit,minmax(350px,1fr))]"
    >
      {
        services.map((service) => (
          <div
            data-slot="card"
            class="bg-card text-card-foreground flex flex-col gap-6 rounded-xl
            border transition-shadow"
          >
            <div class="flex flex-col gap-1.5 h-[160px] md:h-[140px] px-6 pt-6 ">
              <div class="mb-4">
                <Image
                  src={service.icon}
                  quality={80}
                  alt="test"
                  width={40}
                  height={40}
                  format="webp"
                  class="w-10 h-10 "
                />
              </div>
              <h4 class="leading-none">{service.title}</h4>
              <p class="text-gray-500 text-muted-foreground">
                {service.description}
              </p>
            </div>
            <div data-slot="card-content" class="px-6 [&:last-child]:pb-6">
              <div class="mb-4">
                <span class="text-2xl font-medium text-custom-blue">
                  {service.price}
                </span>
              </div>
              <ul class="space-y-2">
                {service.features.map((feature) => (
                  <li class="flex items-start">
                    <CircleCheck class="w-5 h-5 text-green-500 mr-2 flex-shrink-0 mt-0.5" />
                    <span class="text-gray-700">{feature}</span>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
    <div class="text-sm mb-4">
      <i>
        *Remise en main propre possible sur la zone de Montpellier. Les prix
        indiqués correspondent au prix HT de la prestation ajouté au prix de la
        livraison. Le prix de la livraison peut varier selon le poids du colis.
        Fix My Card recommande d’ajouter une assurance à votre colis. Les tarifs
        restent indicatifs et soumis à l’évaluation d’un devis.
      </i>
      <a class="underline" href="/">Voir cgv.</a>
    </div>
    <div
      class="bg-gradient-to-br from-blue-50 to-indigo-100 rounded-lg p-8 mb-12"
    >
      <h2 class="text-3xl mb-8 text-center text-gray-900">
        Le processus de commande
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
        {
          processes.map((process) => (
            <div class="text-center">
              <div
                class="bg-blue-600 text-white w-12 h-12 rounded-full flex
              items-center justify-center mx-auto mb-4 text-xl"
              >
                {process.index}
              </div>
              <h3 class="text-xl mb-2">{process.title}</h3>
              <p class="text-gray-700">{process.subtitle}</p>
            </div>
          ))
        }
      </div>
    </div>

    <div class="text-center">
      <h2 class="text-3xl mb-4 text-gray-900">Intéressé par mes services ?</h2>
      <p class="text-xl text-gray-600 mb-6">
        Demandez un devis gratuit et personnalisé dès maintenant
      </p>
      <a
        href="/devis"
        class="w-60 h-10 bg-gradient-to-r from-purple-600 to-blue-600
          hover:from-purple-700 hover:to-blue-700 shadow-lg
          text-white inline-flex items-center justify-center gap-2
          whitespace-nowrap text-sm font-medium transition-all outline-none
          focus-visible:ring-2 rounded-md px-6 cursor-pointer
          active:scale-95"
      >
        Demander un devis gratuit
      </a>
    </div>
  </div>
</div>
